<script lang="ts">
	import type { QuestionType } from "./Types";
	import Quiz from "./Quiz.svelte";
	import QuizSetup from "./QuizSetup.svelte";
	import { scale } from "svelte/transition";

	import { fake_questions } from "./fake_questions.js";
	const qbank = fake_questions;
	let correct = 0;
	/*
		1) await 'start quiz' clicked
		2) insert 'quizSetup'
		3) quizsetup on:complete => remove quizsetup and insert quiz, hide the rest of the UI
		4) quiz on:complete => remove quiz and insert result

	*/

	enum State {
		Welcome,
		SetupQuiz,
		Quizzing,
		Done,
	}

	function setupComplete(event: any) {
		const settings = event.detail;

		const tagSet = new Set(event.detail.chosenTags);
		console.log(event);

		let questions = qbank
			.filter((question) =>
				question.tags
					.map((tag) => tagSet.has(tag))
					.reduce((prev, tagBelongs) => prev || tagBelongs)
			) //filter qbank (todo)
			.sort(() => Math.random() - 0.5) //shuffle qbank
			.slice(0, settings.numQuestions); //slice qbank

		quizData = {
			questions,
			allowPeek: settings.allowPeek,
		};
		state = State.Quizzing;
		console.log(`Entering Quizzing state with ` + JSON.stringify(quizData));
	}
	let state: State = State.Welcome;

	let quizData: any = null;
</script>

<main>
	{#if state == State.Welcome}
		<section transition:scale>
			<h1>Wards Wisdom Online</h1>
			<p>
				A wonderful project sharing medical knowledge and curated
				questions from students to students!
			</p>
			<button on:click={() => (state = State.SetupQuiz)}>
				Start Quiz
			</button>
		</section>
	{:else if state == State.SetupQuiz}
		<section in:scale>
			<QuizSetup
				on:complete={setupComplete}
				tags={[...new Set(qbank.flatMap((q) => q.tags))]}
			/>
		</section>
	{:else if state == State.Quizzing}
		<Quiz
			{...quizData}
			on:complete={ev => {
				correct = ev.detail;
				state = State.Done;
			}}
		/>
	{:else if state == State.Done}
		<section>
			<h1>Quiz Complete!</h1>
			<p>
				You scored {correct}/{quizData.questions.length}. Click
				<a href="." on:click={window.location.reload}> here</a> to try again.
			</p>
		</section>
	{/if}
</main>

<style>
	section {
		text-align: center;
		padding: 1em;
		max-width: 80%;
		margin: 0 auto;
		margin-top: 1em;
		border-radius: 1em;
		border-color: #44b;
		border-width: 0.25em;
		border-style: solid;
		box-shadow: #444 0.2em 0em 1em;
	}

	h1 {
		color: #d30c7b;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (max-width: 800px) {
		main {
			max-width: none;
		}
	}

	:global(body) {
		padding: 0;
	}
</style>
