<script lang="ts">
    import type { QuestionType, AnswerType } from "./Types";
    import { createEventDispatcher } from "svelte";
    import { scale } from "svelte/transition";
    const dispatch = createEventDispatcher();

    export let id: number;
    export let text: string;
    export let answers: AnswerType[];
    export let tags: string[];
    export let explanation: string;
    export let allowPeek: boolean = false;
    export let selectedAnswer: null | number = null;
    console.log(id);
    console.log(tags);

    let peeking = false;

    function complete() {
        if (allowPeek && !peeking) {
            peeking = true;
        } else {
            peeking = false;
            dispatch("complete", selectedAnswer);
        }
    }

    // 1) show question
    // 2) user submits
    // 3) show correct/incorrect answers (if desired)
    // 4) completion event
</script>

<form action="" on:submit|preventDefault={complete}>
    <section class="question">
        {text}
        <!-- Question Explanations will go here -->
    </section>
    
    <section class="answers">
        {#each answers as answer, i}
            <label class={answer.correct ? "correct" : "incorrect"}>
                <input
                    name="answer"
                    type="radio"
                    value={i}
                    bind:group={selectedAnswer}
                />
                {answer.text}
            </label>
            <!-- Answer explanations will go here -->
        {/each}
    </section>

    {#if peeking}
        <section class="explanation" in:scale>
            <h3>Explanation</h3>
            <p>{explanation}</p>
            
            <p>Tags: {tags.join(', ')}</p>
        </section>
    {/if}

    {#if allowPeek && !peeking}
        <input type="submit" value="Submit">
    {:else}
        <input type="submit" value="Next">
    {/if}
</form>

{#if peeking}
    <style>
        .correct {
            background-color: green;
            color: white;
        }

        .incorrect {
            background-color: red;
            color: white;
        }
    </style>
{/if}

<style>
    form {
        background-color: #dda;
        padding: 1em;
        transition: height 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        height: 100vh;
    }

    section {
        background-color: white;
        border-radius: 1em;
        padding: 1em;
        margin: 0.5em;
    }

    label {
        vertical-align: middle;
        border-radius: 0.4em;
        margin: 0.2em;
        padding: 0.2em;
    }

    label > input {
        vertical-align: middle;
        margin-right: 0.5em;
        margin-left: 0.5em;
        margin-bottom: 0;
        margin-top: 0;
    }

    label:hover {
        background-color: rgba(70, 70, 70, 0.2);
        color: white;
    }

    input[type="submit"] {
        margin: 0.5em;
        border-radius: 0.5em;
        background-color: #44b;
        color: white;
    }

    input[type="submit"]:hover {
        margin: 0.25em;
        border-color: #ccc;
        border-width: 0.25em;
        border-style: outset;
    }

    input[type="submit"]:active {
        margin: 0.25em;
        border-color: #ccc;
        border-width: 0.25em;
        border-style: inset;
    }

</style>
