<script lang="ts">
    import { createEventDispatcher } from "svelte";
    import type { QuestionType } from "./Types";
    import Question from "./Question.svelte";

    export let questions: QuestionType[] = [];
    export let currentQuestion: number = 0;
    export let allowPeek: boolean = false;
    const dispatch = createEventDispatcher();

    /*
    1) Initialize quiz (if new, info should've been queried from user already; if old, should've been gotten from storage and passed in)
    3) Load all question data
    4) Load next question
    4a) If all questions answered, offer to complete and view analysis
    5) Wait for submit
    6) save result (someday)
    8) goto 4
    */

    function setQuestion(i: number) {
        console.log(
            `Answer: q${currentQuestion} -> ${questions[currentQuestion].chosenAnswer}`
        );

        const correct = questions
            .map((q) => {
                if (q.chosenAnswer == null) {
                    return 0;
                }
                return q.answers[q.chosenAnswer].correct ? 1 : 0 * 0;
            })
            .reduce((prev, curr) => prev + curr);

        console.log(`Correct: ${correct}`);
        if (i >= questions.length) {
            dispatch("complete", correct);
            return;
        }

        currentQuestion = i;
    }

    console.log(
        `Quiz created with ${questions.length} questions, on question #${currentQuestion}`
    );
</script>

<main>
    <ol>
        {#each questions as _, i}
            <a
                href={"#" + i}
                on:click={setQuestion.bind(null, i)}
                class={currentQuestion == i ? "current" : "not_current"}
            >
                <li>{i + 1}</li>
            </a>
        {/each}
    </ol>

    <section>
        {#key currentQuestion}
            <Question
                {...questions[currentQuestion]}
                {allowPeek}
                on:complete={setQuestion.bind(null, currentQuestion + 1)}
                bind:selectedAnswer={questions[currentQuestion].chosenAnswer}
            />
        {/key}
    </section>
</main>

<style>
    main {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: min-content auto;
        max-height: 100vh;
        max-width: 100vw;
    }

    main > section {
        max-height: 100vh;
    }

    ol {
        padding: 0;
        margin: 0;
        height: 100vh;
        overflow-y: scroll;
    }

    .current * {
        background-color: #44b;
        color: white;
    }

    li {
        list-style-type: none;
        padding-left: 0.2rem;
        padding-right: 0.3rem;
    }
</style>
