<script lang="ts">
    import { createEventDispatcher } from "svelte";
    
    export let tags: String[] = [];
    const dispatch = createEventDispatcher();

    const quizParams = {
        numQuestions: 10,
        allowPeek: false,
        chosenTags: tags,
    };
    function complete() {
        //send off 'completed' event
        console.log('setup complete');
        dispatch("complete", quizParams);
    }
</script>

<form on:submit|preventDefault={complete}>
    <label>
        How many Questions?
        <input type="number" name="numQuestions" min="1" bind:value={quizParams.numQuestions} />
        
    </label>
    <label>
        Allow peeking?
        <input type="checkbox" name="allowPeek" bind:checked={quizParams.allowPeek}>
    </label>
    Which tags would you like to include?
    {#each tags as tag}
    <label>
        <input type="checkbox" bind:group={quizParams.chosenTags} name="chosenTags" value={tag}>
        {tag}
    </label>
    {/each}
    
    {#if quizParams.chosenTags.length < 1}
        <p>You have to pick at least one tag!</p>
    {:else}
        <input type="submit" value="Submit">
    {/if}
</form>
